* {
    margin: 0;
    padding: 0;
}

ul, li {
    display: block;
    margin: 0;
    padding: 0; 
}

body {
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 400;
}

.container {
    width: 80%;
    margin: 0 auto;
}

a { 
    text-decoration: none; 
    color: #fff;
}


.title {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-top: 100px;
}

.title h1 {
    font-size: 36px;
}

.title span.line {
    width: 183px;
    height: 3px;
    background: #4929A3;
    display: block;
    margin: 0 0 0 15px;
}

.row { display: flex; width: 100%; }
.row .col-md-4 { width: 33.33%; }
.row .col-md-8 { width: 66.66%; }

hr {
    width: 100%;
    margin: 20px 0;
    border: none;
    display: block;
    border-bottom: 1px solid #ddd;
}