.container.about-college {
    margin: 150px auto !important;
}

.video-section.colege video {
    margin-top: -130px;
}

.video-section.colege {
    margin-bottom: 150px;
}

.content_about-colege p {
    margin-top: 20px;
}